*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-nav{
    width: 100%;
    padding: 20px 30px 0 30px;
}


.message{
    font-size: 2rem;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    padding: 20px;
}

.container-primary{
    width: 100%;
    padding-bottom: 100px;
    padding-top: 70px;
    display: flex;
	justify-content: center;
    
}

form{
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 30px 35px;
    box-shadow: 0 5px 10px rgba(15, 15, 15, 0.7);
    border-radius: 1em;
    align-content: center;
    justify-content: center;
}
form label{
    margin-bottom: 35px;
}

form label .fa-solid{
    font-size: 20px;
    color: #1A2A56;
    margin-right: 10px;
}

form label input{
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px #1A2A56;
    font-size: 18px;
}

form label input::placeholder{
    color:  rgba(37,37,37,0.5);
}

form .link{
    color: #252525;
    margin-bottom: 15px;
}

form button{
    color: #fff;
    border: none;
    background:#1A2A56;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 1em;
    width: 100%;
}

.container-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #1A2A56;
    color: white;
    padding: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 80px;
}

@media (max-width: 447px){
    .container-footer{
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    form label .fa-solid{
        font-size: 0;
        color: #1A2A56;
        margin-right: 0px;
    }
}